.game-summary-container {
  background-color: green;
  border: 1px solid black;
  min-width: 93%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-summary {
  background: #0d141c;
  border: 3px solid #ffffff;
  border-radius: 26px;
  width: 50%;
  height: 50%;
  color: #ef5a7a;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
}
